/hello.csv
/hw6.cpp
/hw6.exe
/hw6.py
/hw6_2.py
/hw6_edit.cpp
/hw6_new.exe
/hw6_notice.txt
/hw6_practice.cpp
/hw6_practice.exe
/hw6_practice2.cpp
/hw6_practice2.exe
/save.cpp
/test.cpp
/test.exe
/vocabulary.txt